body
*{
    background-image:url("HD-wallpaper-love-valentine-s-day-14-de-febrero-valentine-s-day-amor-love-te-amo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor{
    background: rgb(187, 0, 56);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}